@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* COLORS */
/*
Black Russian: #131316
Summer Sky: #2eb0e5
Scarlet: #f21911
Magnolia: #fef9ff
*/

:root {
  --body-background: #131316;
  --body-color: #333333;
  --heading-color: #f21911;
  --title-color: #fef9ff;
  --action-color: #FEF9FF;
}

header {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* .intro-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8px;
} */

.intro-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 550px) {
  .headshot {
    margin-right: 2rem;
  }
}

.photo-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headshot {
  text-align: center;
}

.headshot img {
  max-width: 180px;
  display: block;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 22px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 18px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 2px solid #f21911;
  color: #f21911;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1.name {
  margin: 1rem 0 0 0;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  color: var(--heading-color);
  line-height: 1.2;
  font-family: 'Space Grotesk', sans-serif;
  text-shadow: 4px 5px 4px #000000;
}

h2.title {
  color: var(--title-color);
  text-align: center;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.name-title hr {
  margin: 12px 0;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}
